* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #f8f8fb;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
